auto-save-list/
straight/
eln-cache/
transient/
codeium/
.cache/
.extension/
*.elc
*.eln
*.tmp
*~
**/#*#
tramp
projects
history
bookmarks
recentf
.lsp-session*
projectile-bookmarks.eld
secrets.el
.dap-breakpoints
dap-ui-repl*