.cache/
.extension/
auto-save-list/
codeium/
custom/
dirvish/
eln-cache/
elpa/
straight/
transient/
tree-sitter/
url/
*~
**/#*#
*.elc
*.eln
*.tmp
.dap-breakpoints
.lsp-session*
bookmarks
dap-ui-repl*
history
projectile-bookmarks.eld
projects
recentf
secrets.el
tramp